// Colors
$white: #fff;
$offwhite: #f9f9f9;
$black: #1C1C1E;
$blue: #000032;
$orange: #F27662;
$dark-orange: #C95B48;
$sand: #DBD1BD;
$gray: #BAB3B3;

// Breakpoints
$xsmall: 320px;
$small: 575px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1440px;

// Fonts
$inter: "Inter", sans-serif;