// Colors
$white: #fff;
$offwhite: #f9f9f9;
$black: #1C1C1E;
$blue: #000032;
$orange: #F27662;
$dark-orange: #C95B48;
$sand: #DBD1BD;
$gray: #BAB3B3;

// Breakpoints
$desktop: 992px;

// Fonts
$inter: "Inter", sans-serif;