@use 'helpers' as *;

html,
body {
  font-family: $inter;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $inter;
  font-weight: 700;
}

main {
  height: 100svh;
  position: relative;
}

button,
label {
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
  border-bottom: 1px solid $sand;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 1rem;
  align-content: center;

  label {
    font-size: 16px;
    font-weight: 300;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  input[type="text"] {
    box-shadow: -2px 2px 5px 0px #00000040 inset;
    font-weight: 700;
    border: 1px solid $sand;
    border-radius: 10px;
    text-align: center;
    padding: 8px 15px;
    width: 140px;
    font-size: 16px;
    box-sizing: border-box;

    &:placeholder-shown {

      + span {

        &::after {
          content: url(./warning.svg);
        }
      }
    }

    + span {
      height: 100%;
      margin-left: 8px;
      display: flex;
      align-items: center;
      gap: 6px;

      @include mq($desktop) {
        position: absolute;
        top: 0;
        left: 100%;
        gap: 0;
      }

      &::after {
        content: url(./success.svg);
        height: 25px;

        @include mq($desktop) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 0;
  width: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.button {
  font-family: $inter;
  background-color: $orange;
  color: $white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 100px;
  min-width: fit-content;
  text-align: center;
  border: 2px solid $white;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));

  &:hover {
    background-color: $dark-orange;
  }

  &[disabled] {
    background-color: white;
    color: $gray;
    border-color: $gray;
    filter: none;

    svg {
      display: none;
    }
  }
}

.button--secondary {
  background-color: $white;
  color: $orange;
  border: 2px solid $orange;
  filter: none;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.measure-dialog {
  display: none;

  &[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.dialog-header {
  padding: 1rem 1rem 0.5rem;

  @include mq($desktop) {
    padding: 3rem 0 0 2rem;
  }

  h2 {
    margin: 1rem 0 0;
    font-size: 20px;

    @include mq($desktop) {
      font-size: 36px;
      margin-bottom: 1rem;
    }
  }

  a {
    display: none;

    @include mq($desktop) {
      display: flex;
    }
  }
}

.dialog-main {
  border: 1px solid $sand;
  border-radius: 30px;
  background-color: $white;
  max-width: 95vw;
  z-index: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
  position: relative;
  max-height: 90svh;
  overflow: auto;
}

.dialog-inner {
  padding: 1rem;

  @include mq($desktop) {
    padding: 3rem 2rem 2rem;
    display: flex;
    gap: 4rem;
  }
}

.dialog-actions {
  display: grid;
  gap: 10px;
  padding: 1rem;

  @include mq($desktop) {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    padding: 0 2rem 2rem;
  }
}

.measure-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: $black;
  text-decoration: underline;
  font-weight: 300;

  svg {
    width: 15px;
    height: 15px;
  }
}

.closet-diagram {
  display: block;
  width: 100%;
  height: auto;

  @include mq($desktop) {
    max-width: 700px;
    min-width: 500px;
    flex: 1;
  }
}

.measure-form {
  flex-shrink: 0;

  @include mq($desktop) {
    max-width: 310px;
  }

  form {
    display: grid;
    gap: 2rem;
  }
}

.measure-graphic {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq($desktop) {
    padding: 0 4rem 4rem 2rem;
  }
}

.button--open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.button--close {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  appearance: none;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 1rem;
  right: 1.25rem;

  @include mq($desktop) {
    font-size: 24px;
    top: 2rem;
    right: 2rem;
    gap: 10px;
  }

  svg {
    width: 15px;
    height: auto;

    @include mq($desktop) {
      width: 20px;
    }
  }
}

.radio-group {
  display: grid;
  gap: 1rem;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;

  input {

    &:checked {

      + label span {

        &::after {
          background-color: $orange;
        }
      }
    }

    + label span {
      box-shadow: 2px 2px 7.6px 0px #00000040;
      border: 1px solid $black;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: '';
        border-radius: 50%;
        width: 50%;
        height: 50%;
      }
    }
  }

  label {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }
}